<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsProfileCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <applicationSettings>
      <WindowsProfileCleaner.Properties.Settings>
        <setting name="LogPath" serializeAs="String">
          <value>C:\test\WindowsProfileService\</value>
        </setting>
        <setting name="Debug" serializeAs="String">
          <value>true</value>
        </setting>
        <setting name="CheckInterval" serializeAs="String">
          <value>43200000</value>
        </setting>
        <setting name="DelProfile" serializeAs="String">
          <value>true</value>
        </setting>
        <setting name="SearchDomains" serializeAs="String">
          <value>"contuso.com,contoso.cr,contoso.co.uk"</value>
        </setting>
        <setting name="EXEPath" serializeAs="String">
          <value>C:\test\WindowsProfileService\</value>
        </setting>
        <setting name="BATPath" serializeAs="String">
          <value>C:\test\WindowsProfileService\</value>
        </setting>
        <setting name="AccountIgnore" serializeAs="String">
          <value>"HSimpson,BSimpson,LSimpson,MSimpson"</value>
        </setting>
      </WindowsProfileCleaner.Properties.Settings>
    </applicationSettings>
</configuration>
